<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Portraits_00</key>
	<string>伯爵</string>
	<key>Portraits_01</key>
	<string>红与白</string>
	<key>Portraits_02</key>
	<string>碎梦</string>
	<key>Portraits_03</key>
	<string>永寿</string>
</dict>
</plist>
